@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;1,500&display=swap");
@import "_variables";
@import "_elements";

* {
  box-sizing: border-box;
}

body {
  width: inherit;
  height: max-content;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  padding: 15px 0;
  position: fixed;
  top: 0;
  background-color: white;
  div {
    width: 26%;
    font-weight: 600;
    font-size: 15px;
    padding-left: 20px;
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: blue;
        span {
          opacity: 1;
        }
      }
      span {
        opacity: 0.7;
      }
    }
  }

  nav ul {
    display: flex;
    li {
      margin-right: 20px;
      a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 300;
        color: black;
        &:hover {
          color: blue;
        }
      }
    }
  }
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 50px 0 10% 0;
  section {
    width: 74%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 130vh);
    grid-auto-flow: row;

    .container {
      width: 100%;
      height: 100%;
      padding-right: 15px;
      .img-container {
        margin-bottom: 10px;
        height: auto;
        width: 100%;
        cursor: pointer;
        img {
          width: 100%;
          height: auto;
        }
      }
      .img-title {
        @extend %content-font;
        height: 17vh;
        cursor: pointer;
        line-height: 1.3em;
        &:hover {
          color: blue;
        }
      }
    }

    .text-container {
      width: 100%;
      height: max-content;
      padding-right: 35%;
      @extend %content-font;
      .text-title {
        margin-bottom: 20px;
        cursor: pointer;
        &:hover {
          color: blue;
        }
      }
      .text-p {
        cursor: pointer;
        text-align: left;
        line-height: 1.3em;
      }
    }
  }
}
